.footer_wrapper{
	max-width: 1225px;
	margin: 0 auto;
	display:flex;
	background-color:  #F8F8F8;
}
.footer_images{
	margin-top: 25px;
	margin-bottom: 25px;
	margin-left: 5px;
}
.contact_image{
	padding-right: 27px;
}
.footer_image{
	margin-right: 22.5px;
}
.footer_title{
	position: relative;
	left: 480px;
	margin-top: 28px;
	font-size: 18px;
	font-weight: 700;
}
.footer_date{
	position: relative;
	left: 820px;
	margin-top: 28px;
	font-size: 16px;
}