.footer_wrapper{
	max-width: 1240px;
	margin: 0 auto;
	display:flex;
}
.footer_images{
	margin-top: 23px;
	margin-bottom: 25px;
}
.footer_image{
	margin-right: 22.5px;
}
.contact_image{
	padding-right: 22px;
}
.footer_title{
	position: relative;
	left: 408px;
	margin-top: 25px;
	font-size: 18px;
	font-weight: 700;
}
.footer_date{
	position: relative;
	left: 765px;
	margin-top: 25px;
	font-size: 16px;
}